@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&family=Noto+Sans+TC:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", "Noto Sans TC", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-[#F4F6F8] text-slate-900 font-sans antialiased overflow-hidden;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}
.scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
